@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
body {
  font-family: "VT323", sans-serif;
  background: #4d4d4d;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

button {
  font-family: "VT323", sans-serif;
}

.canvas {
  position: relative;
}

.canvas::before {
  content: " ";
  position: absolute;
  z-index: 0;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid white;
  border-radius: 10px;
}